#landing-page, #repo-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-1);
}

#landing-page header {
  position: absolute;
  left: 50%;
  top: 3%;
  transform: translate(-50%);
  transform: translate(-350px);
}

#repo-search {
  margin-top: var(--space-5);
  margin-bottom: var(--space-4);
}

#landing-page h2 {
  font-size: inherit;
  font-weight: 300;
}

#repo-search form {
  display: flex;
  align-items: center;
  gap: var(--space-1);
}

#repo-search form input {
  width: 20em;

  font-size: var(--size-2);
  font-family: "League Mono", monospace;
  font-weight: 400;

  color: inherit;

  border: none;
}

#repo-search div {
  border: 2px solid var(--gray-6);
}

.repo-list {
  max-width: var(--space-7);

  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

/*#example-repos ol {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}*/

.repo-card {
  text-decoration: none;
  color: inherit;

  flex-direction: row;
  gap: var(--space-2);
}

/*#example-repos ol li a {
  text-decoration: none;
  color: inherit;

  flex-direction: row;
  gap: var(--space-2);
}*/

.repo-card img {
  height: 24px;
  border-radius: 5px;
  font-size: var(--size-0);
}

/*#example-repos ol li a img {
  height: 24px;
  border-radius: 5px;
  font-size: var(--size-0);
}*/

.repo-card b {
  font-weight: 800;
}

/*#example-repos ol li a span b {
  font-weight: 800;
}*/