html {
  --gray-0: hsl(240 40% 4%);
  --gray-1: hsl(240 40% 8%);
  --gray-2: hsl(240 20% 12%);
  --gray-3: hsl(240 20% 16%);
  --gray-4: hsl(240 20% 18%);
  --gray-5: hsl(240 20% 35%);
  --gray-6: hsl(240 15% 44%);
  --gray-7: hsl(240 15% 70%);
  --gray-8: hsl(240 10% 82%);
  --gray-9: hsl(246 10% 96%);

  --space-0: 5px;
  --space-1: 10px;
  --space-2: 20px;
  --space-3: 40px;
  --space-4: 80px;
  
  --radius-0: 10px;
  --radius-1: 30px;
  --radius-2: 60px;

  --size-0: 12px;
  --size-1: 14px;
  --size-2: 16px;
  --size-3: 18px;
  --size-4: 20px;
  --size-5: 24px;
  --size-6: 30px;
  --size-7: 36px;
  --size-8: 48px;
  --size-9: 60px;
  --size-10: 72px;
}

@font-face {
  font-family: "League Mono";
  src: url("LeagueMono.woff2") format("woff2");
}

body {
  color: var(--gray-9);
  background-color: var(--gray-0);

  font-size: var(--size-2);
  font-family: "League Mono", monospace;
  font-weight: 300;
}

header {
  position: absolute;
  left: 50%;
  top: 3%;
  transform: translate(-50%);
  transform: translate(-350px);
}

.top-space {
  margin: var(--space-4);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-0);
}

.repo-search-input {
  font-size: var(--size-2);
  font-family: "League Mono";
  font-weight: 400;

  color: var(--gray-9);
  background-color: var(--gray-4);

  width: 20em;  

  border: none;
  padding: var(--space-1);
  border-radius: var(--radius-1);
}

.repo-search-input:focus, .example-repo:focus {
  outline: 2px solid var(--gray-9);
}

.repo-search-space {
  margin: var(--space-2);
}

.examples {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-1);
}

.example-repo {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;

  color: var(--gray-9);
  background-color: var(--gray-4);

  padding: var(--space-1);
  border-radius: var(--radius-1);
  border: none;

  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.example-repo-text {
  display: flex;
  gap: var(--space-0);
}

.example-repo img {
  height: 24px;
  border-radius: 5px;
}

.example-repo-text b {
  font-weight: 800;
}